.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure items are distributed */
    height: 100vh; /* Full height of the viewport */
    width: 27.8125rem;
    background-color: #FFFFFF;
}

.navbutton {
    height: 4rem;
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #C0D7D8;
    text-decoration: none;
    font-family: 'Orelega One', sans-serif;
    border-radius: 0;
    border-bottom: #3E5622 1px solid;
}

.signout {
    border-radius: 40px;
    width: 15rem;
    height: 4rem;
    align-self: center;
    background-color: #C0D7D8;
    font-weight: bold;
    font-family: 'Orelega One', sans-serif;
    font-size: 2rem;
    color: #1D3557;
    margin-bottom: 2rem; /* Ensures padding at the bottom */
}
