.group-schedule-container {
    width: 100%;
    padding: 20px;
    background-color: #b0d4e3;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.schedule-table th, .schedule-table td {
    border: 1px solid #333;
    padding: 10px;
}

.block {
    padding: 5px;
    border-radius: 4px;
    color: white;
    margin: 2px;
    text-align: center;
}
