/* Group Members Box */
/*groupmembers.css*/
.group-members-box {
    width: auto;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    margin: 0 auto;
}

.group-members-title {
    font-family: 'Orelega One', sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

/* Group Members */
.group-members-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Center the group members */
    align-items: center;
    margin-top: 20px;
}

.group-member-card {
    color: #000000;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 8px;
    min-width: 120px;
    text-align: center;
    font-weight: bold;
    font-family: 'Orelega One', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
