.matchmakingTitle {
    background-color: #FFFFFF;
    width: 75em;
    height: 5.75em;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    margin: 6.5em auto auto auto; /* This will horizontally center the div */
    border-radius: 1.5em;
    border-style: solid;
}