.back-button {
    background-color: #1D3557;
    color: #FFFFFF;
    font-family: 'Orelega One', sans-serif;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    text-transform: none;
    margin-left: 20px;
}

.back-button:hover {
    background-color: #457B9D;
}

.back-button:disabled {
    background-color: #A8A8A8;
    cursor: not-allowed;
}
